
.icon-lock:before { content: '\e800'; } /* '' */
.icon-lock-open:before { content: '\e801'; } /* '' */
.icon-arrow-left:before { content: '\e802'; } /* '' */
.icon-arrow-right:before { content: '\e803'; } /* '' */
.icon-close:before { content: '\e804'; } /* '' */
.icon-eye:before { content: '\e805'; } /* '' */
.icon-mail:before { content: '\e806'; } /* '' */
.icon-style:before { content: '\e807'; } /* '' */
.icon-style-2:before { content: '\e808'; } /* '' */
.icon-style-3:before { content: '\e809'; } /* '' */
.icon-pinterest:before { content: '\e80a'; } /* '' */
.icon-menu:before { content: '\e80b'; } /* '' */
.icon-right-open-mini:before { content: '\e80c'; } /* '' */
.icon-search:before { content: '\e80d'; } /* '' */
.icon-up-open-mini:before { content: '\e80e'; } /* '' */
.icon-next-page:before { content: '\e80f'; } /* '' */
.icon-left-open-mini:before { content: '\e810'; } /* '' */
.icon-play:before { content: '\e811'; } /* '' */
.icon-prev-page:before { content: '\e812'; } /* '' */
.icon-share:before { content: '\e813'; } /* '' */
.icon-down-open-mini:before { content: '\e814'; } /* '' */
.icon-share-post:before { content: '\e815'; } /* '' */
.icon-volume-up:before { content: '\e816'; } /* '' */
.icon-volume-off:before { content: '\e817'; } /* '' */
.icon-play-main:before { content: '\e818'; } /* '' */
.icon-arrow:before { content: '\e819'; } /* '' */
.icon-pause:before { content: '\e81a'; } /* '' */
.icon-left-small:before { content: '\e81b'; } /* '' */
.icon-quote:before { content: '\e81c'; } /* '' */
.icon-share-option:before { content: '\e81d'; } /* '' */
.icon-right-small:before { content: '\e81e'; } /* '' */
.icon-picture:before { content: '\e81f'; } /* '' */
.icon-link:before { content: '\e820'; } /* '' */
.icon-interface:before { content: '\e821'; } /* '' */
.icon-cancel:before { content: '\e822'; } /* '' */
.icon-instagram:before { content: '\e823'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-comments:before { content: '\f0e6'; } /* '' */
.icon-doc-inv:before { content: '\f15b'; } /* '' */
.icon-tumblr:before { content: '\f173'; } /* '' */
.icon-cube:before { content: '\f1b2'; } /* '' */
.icon-gplus:before { content: '\f30f'; } /* '' */